
body {
    display: flex;
    color:black;
    background-color:rgb(231, 226, 226);
    height: 100%;
    margin: 0;
    padding:10px;
}
article {
    max-width:1100px;
    width: 100%;
    max-height:1000px;
    height:90%;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    background-color:rgb(202, 202, 201);
    margin: auto;
}

article .parte_sx {
    width:52%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

article .parte_dx {
    width:48%;
    padding-bottom: 10px;
    text-align: center;
    min-height: 600px;
}
article .parte_sx div img{
    width:100%;
    height:100%;
    border-radius:15px 0 0 15px ;
    }
article.accesso .parte_dx {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-direction: column;
    min-height: 500px;
}

article h1 {
    color:brown;
    font-weight: 800;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

 .non_valido {
    padding: 4px 10px;
    background: #df9090;
    border-radius: 7px;
    color:brown;
    margin: 5px;
    font-size: 12px;
    display: inline-block;
}


label {
    font-size: 15px;
    font-weight: bold;
}

form {
    max-width: 500px;
    margin-top: 10px;
    display: inline-block;
}

input[type=text], input[type=password] {
    padding: 8px;
    border: 2px solid black;
    color: black;
    border-radius: 4px;
}

input[type=submit] {
    background: brown;
    border: 0;
    border-radius:5px;
    padding: 10px;
    color:black;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}
.hidden{
display: none;
}
input[type=submit]:hover {
    background:rgb(5, 5, 138);
}

input[type=submit]:disabled, input[type=submit]:disabled:hover, input[type=submit]:disabled:active {
    background: brown;
} 

input[type=text]:focus, input[type=password]:focus {
    border: 3px solid brown;
    outline-width: 0;
}

article input {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}





.testo {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0;
}

.testo div {
    margin: 0 10px;
}

article form div {
    margin: 4px 8px
}

form span {
    opacity:0;
    font-size: 11px;
}

form div, .testo div {
    text-align:left;
}
 

.errore label {
    color: brown;
}

.errore span {
    opacity:1;
    font-size: 11px;
    color: brown;
    margin-left:12px ;
}

.errore input {
    border-color: brown;
}

article .registrazione {
    font-size: 14px;
}

article .registrazione a {
    color: brown;
}

article .registrazione a:hover {
    color: blue;
}


@media (max-width: 500px) 
{
    article .parte_sx{
      width:100%;
    } 
    article .parte_dx {
     width: 100% 
     }
    article{
    flex-direction: column;
     height: auto;
    }
    article .parte_sx {
    height: 180px;
    }
    article.accesso .parte_dx {
    width: 100%;
    }
    article .parte_sx div img{
        width:100%;
        border-radius:15px 15px 0 0;

    }
}
